.navBar-filter {
  background-color: rgba(109, 100, 100, 0.85);
  height: 75px;
  gap: 50px;
  display: flex;
  justify-content: space-between;
  padding-left: 27px;
  padding-right: 33px;
  align-items: center;
  border: none;
  margin-top: -2.2vh;
  width: 100%;
}

.left-2en-navBar {
  display: flex;
  gap: 50px;
}
.filter-button {
  height: 40px;
  width: 100px;
  padding: 0;
  border: solid 1px white;
  color: white;
  outline: 0;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400px;
  background-color: transparent;
}

.filter-button:hover {
  transform: scale(1.2);
  background-color: white;
  color: rgba(34, 34, 34, 0.85);
  font-weight: 600;
}

.like-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.comment-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.save-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.Advertisement {
  display: block;
  /* border-right: 1px solid rgba(90, 85, 85, 0.562); */
  /* border-bottom: 1px solid rgba(90, 85, 85, 0.562); */
  padding-bottom: 2rem;
  width: 400px;
  height: 75vh;
}

.sub-advertisement {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-gap: 1px;
  padding-bottom: 2rem;
  margin-top: 3%;
  background-color: #eee2e2;
  height: 15vh;
  margin-top: 2vh;
  border: solid rgba(90, 85, 85, 0.562) 1px;
  box-shadow: 1px 1px #b3b1b1e5;
}

.advLabel{
  display: flex;
  justify-content: center;
  border-bottom: double rgba(90, 85, 85, 0.562) 1px;
}

.sub-advertisement:hover {
  cursor: pointer;
  transform: translateY(-1.1rem) scale(1.1);

}

.advertisementImages {
  padding-top: 10px;
  height: 10vh;
  padding-right: 1rem;
  width: 4vw;
  margin-left: 7px;
}
.title_description {
  padding-top: 10px;
  margin-right: 2px;
}
.title-details {
  font-weight: bold;
  font-size: 1.3rem;
}
.description {
  font-size: 0.9rem;
}
.mainPost {
  height: 40px;
  width: 100px;
  padding: 0;
  border: solid 1px rgb(62, 0, 231);
  outline: 0;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400px;
  background-color: transparent;
  margin-left: 45%;
  margin-top: 5%;
  background-color: rgb(5, 0, 53);
}
.mainPost:hover {
  transform: scale(1.2);
  background-color: rgb(5, 0, 53);
  color: rgb(0, 235, 243);
  font-weight: 600;
}

.online {
  color: white;
  margin-left: 75vh;
}
