.navBar-filter {
  /* background-color: rgba(109, 100, 100, 0.85);
   */
  background-color: rgb(238, 226, 226);

  height: 75px;
  gap: 50px;
  display: flex;
  justify-content: space-between;
  padding-left: 27px;
  padding-right: 33px;
  align-items: center;
  border: none;
  margin-top: -2.2vh;
  width: 100%;
}

.left-2en-navBar {
  display: flex;
  gap: 50px;
}
.filter-button {
  height: 40px;
  width: 100px;
  padding: 0;
  border: solid 1px rgb(53, 51, 51);
  color:rgb(53, 51, 51);
  outline: 0;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400px;
  background-color: transparent;
}

.filter-button:hover {
  transform: scale(1.2);
  background-color: white;
  color: rgba(34, 34, 34, 0.85);
  font-weight: 600;
}

.like-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.comment-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.save-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.Advertisement {
  display: block;
  /* border-right: 1px solid rgba(90, 85, 85, 0.562); */
  /* border-bottom: 1px solid rgba(90, 85, 85, 0.562); */
  padding-bottom: 2rem;
  width: 400px;
  height: 75vh;
}

.sub-advertisement {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-gap: 1px;
  padding-bottom: 2rem;
  margin-top: 3%;
  background-color: #eee2e2;
  height: 15vh;
  margin-top: 2vh;
  border: solid rgba(90, 85, 85, 0.562) 1px;
  box-shadow: 1px 1px #b3b1b1e5;
}

.advLabel{
  display: flex;
  justify-content: center;
  border-bottom: double rgba(90, 85, 85, 0.562) 1px;
}

.sub-advertisement:hover {
  cursor: pointer;
  /* transform: translateX(1.5rem) scale(1.1); */
transform: scale(1.01);
}

.advertisementImages {
  padding-top: 10px;
  height: 13vh;
  padding-right: 1rem;
  width: 6vw;
  margin-left: 7px;
}
.title_description {
  padding-top: 10px;
  margin-right: 2px;
}
.title-details {
  font-weight: bold;
  font-size: 1.3rem;
  color: black;
}
.description {
  font-size: 0.9rem;
  color: black;
}
.mainPost {
  height: 40px;
  width: 100px;
  padding: 0;
  border: solid 1px rgb(62, 0, 231);
  outline: 0;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400px;
  background-color: transparent;
  margin-left: 45%;
  margin-top: 5%;
  background-color: rgb(5, 0, 53);
}
.mainPost:hover {
  transform: scale(1.2);
  background-color: rgb(5, 0, 53);
  color: rgb(0, 235, 243);
  font-weight: 600;
}

.online {
  color: white;
  margin-left: 75vh;
}

.profilePic {
  width: 75px;
  height: 75px;
  border-radius: 7px;
}

.postDiv {
  border: black solid 1px;
  width: 35vw;
  height: 70vh;
  margin-left: 10px;
}

.title_description {
  display: block;
  margin-left: 10px;
}

.postTitle {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 600;
  margin-right: 15px;
  color: black;
}
.postDescription {
  font-family: "Times New Roman", Times, serif;
  padding-left: 10px;
  font-size: 15px;
  margin-right: 25px;
  height: 100%;
  margin-top: 3vh;
  color: black;
}
.saveImage{
  width: 500px;
  height: 300px;
  margin-left: 10px;
  border-radius: 7px;
  margin-top: 3vh;
}

.userData{
  display: flex;
}

.user-post-name {
  margin-left: 10px;
  font-size: 22px;
  font-weight: 600;
  color: #fd5050cb;
  margin-top: 2vh;
}

