.post-comment-div {
  /* border: solid 0.2px; */
  display: inline-block;
  margin-left: 5px;
  height: 79vh;
  width: 64ch;
  margin-top: 4vh;
  border-radius: 5px;
  background-color: rgb(238, 226, 226);
  gap: 5px;
  padding: 2vh;
  margin-right: 5px;
}


.commenter-name {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
}
.comment-commenter {
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
}
.div-send-comment {
  display: flex;
  height: 10%;
  gap: 15px;
}
.comments {
  gap: 3px;
  display: flex;
  color: black;
}
.write-comment {
  outline: none;
  border: solid 1px rgb(138, 137, 137);
  background-color: transparent;
  font-weight: 400px;
  color: black;
  border-radius: 1px;
  width: 250px;
  height: 40px;
  border-radius: 3px;
}
.write-comment:hover {
  border: solid 1px rgba(34, 34, 34, 0.85);
  transform: scale(1.08);
}
.send-comment-button {
  border: solid 1px rgb(138, 137, 137);
  outline: 0;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400px;
  background-color: transparent;
  width: 50px;
  height: 40px;
}
.send-comment-button:hover {
  background-color: rgba(34, 34, 34, 0.85);
  color: white;
  transform: scale(1.14);
}
