.user-information {
  display: flex;
  /* align-items: center; */
}
.user-information-list {
  margin-left: 10px;
  align-items: center;
  display: flex;
  height: 100px;
  /* background-color: lawngreen; */
  justify-content: space-between;
}
.post-information {
  display: flex;
}
.post-information-2 {
  display: block;
  margin-left: 10px;
  margin-top: 20px;
  margin-top: 10px;
}
.user-post-name {
  margin-left: 10px;
  font-size: 22px;
  font-weight: 600;
  color: #770000;
  cursor: pointer;

}
.post-div {
  gap: 0px;
  padding: 0;
  display: block;
  border: solid rgba(104, 104, 104, 0.233) 0.1px;
  border-radius: 5px;
  width: 40vw;
  height: 80vh;
  /* margin-bottom: 3px; */
  margin-left: 25px;
  margin-top: 25px;
  background-color: white;
}

.profile-picture {
  width: 75px;
  height: 75px;
  border-radius: 7px;
  cursor: pointer;

}
.profile-picture:hover {
  transform: scale(1.03);
}

.post-title {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 600;
  margin-right: 15px;
}

.post-description {
  font-family: "Times New Roman", Times, serif;
  padding-left: 10px;
  font-size: 15px;
  margin-right: 25px;
  height: 100%;
  /* overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll; */
}

.post-image {
  width: 500px;
  height: 300px;
  margin-left: 10px;
  border-radius: 7px;
  margin-top: 4vh;
}
.post-image:hover {
transform: scale(1.03);
}
.post-reaction {
  align-content: center;
  text-align: center;
  margin-top: 10px;
  margin-left: -5px;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  /* margin-top: 0px; */
}

.post-reaction-2 {
  margin-left: 15px;
  gap: 5px;
  display: flex;
  justify-content: space-between;
}

.div-post-comment {
  display: flex;
  gap: 10px;
  margin-bottom: -10vh;
}
.messege-post{
  margin-left: -65vh;
  margin-top: 7vh;
  color: black;
}
.time{
  margin-left: -52vh;
  margin-top: 7vh;
color: black;
}
.timeh{
  margin-left: -52vh;
  margin-top: 7vh;
color: black;
}
.post-td{
  margin-top: 3vh;
  color: black;
}
.user-pic{
  margin-top: 2vh;
  cursor: pointer;
  color: black;
}