.user-information {
  display: flex;
  /* align-items: center; */
}
.user-information-list {
  margin-left: 10px;
  align-items: center;
  display: flex;
  height: 100px;
  /* background-color: lawngreen; */
  justify-content: space-between;
}
.post-information {
  display: flex;
}
.post-information-2 {
  display: block;
  margin-left: 10px;
  margin-top: 20px;
  margin-top: 10px;
}
.user-post-name {
  margin-left: 10px;
  font-size: 22px;
  font-weight: 600;
  color: #770000;
  margin-top: 2vh;
}
.post-div {
  gap: 0px;
  padding: 0;
  display: block;
  border: solid rgba(104, 104, 104, 0.233) 0.1px;
  border-radius: 5px;
  height: 80vh;
  margin-bottom: 3px;
  margin-left: 25px;
  margin-top: 25px;
  background-color: white;
  float: left ;
  
}

.ads {
  float: left;
  width: 1px;
}
.profile-picture {
  width: 75px;
  height: 75px;
  border-radius: 7px;
}


.post-title {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 600;
  margin-right: 15px;
  color: black;

  margin-top: 2vh;
}

.post-description {
  font-family: "Times New Roman", Times, serif;
  padding-left: 10px;
  font-size: 15px;
  margin-right: 25px;
  height: 100%;
  margin-top: 3vh;
  color: black;
  /* overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll; */
}

.post-image {
  width: 500px;
  height: 300px;
  margin-left: 10px;
  border-radius: 7px;
  margin-top: 3vh;
}
/* .post-image:hover {
transform: scale(1.03);
} */
.post-reaction {
  align-content: center;
  text-align: center;
  margin-top: 10px;
  margin-left: -5px;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  /* margin-top: 0px; */
}

.post-reaction-2 {
  margin-left: 15px;
  gap: 5px;
  display: flex;
  justify-content: space-between;
}

.div-post-comment {
  /* background-color: rgb(238, 226, 226); */
  display: flex;
  gap: 10px;
  margin-bottom: 1vh;
}


.post-tp {
  margin-top: 6.6vh;
  color: black;
  margin-left: -12vh;
}
.user-pic {
  margin-top: 2vh;
  cursor: pointer;
  color: black;
}
.allpost{
  background-image: url(https://images-wixmp-ed30a86….wixmp.com/f/12ee6265-e947-474a-a378-6d78ab0d1117/d8fr7iz-082cab4c-3f87-47e1-b2f0-efdb504372e5.jpg/v1/fill/w_1024,h_576,q_75,strp/super_hero_whatsapp_background_by_x_ama_d8fr7iz-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTc2IiwicGF0aCI6IlwvZlwvMTJlZTYyNjUtZTk0Ny00NzRhLWEzNzgtNmQ3OGFiMGQxMTE3XC9kOGZyN2l6LTA4MmNhYjRjLTNmODctNDdlMS1iMmYwLWVmZGI1MDQzNzJlNS5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.BzcKtmJbHcafn-3f4-9tNEiybd-JbKGVeynAsEJFICI);

}