.user-information {
  display: flex;
  /* align-items: center; */
}
.user-information-list {
  margin-left: 10px;
  align-items: center;
  display: flex;
  height: 100px;
  /* background-color: lawngreen; */
  justify-content: space-between;
}
.post-information {
  display: flex;
}
.post-information-2 {
  display: block;
  margin-left: 10px;
  margin-top: 20px;
  margin-top: 10px;
}
.user-post-name {
  margin-left: 10px;
  font-size: 22px;
  font-weight: 600;
  color: #fd5050cb;
  margin-top: 2vh;
}
.post-div {
  gap: 0px;
  padding: 0;
  display: block;
  border: solid rgba(104, 104, 104, 0.233) 0.1px;
  border-radius: 5px;
  height: 80vh;
  margin-bottom: 3px;
  margin-left: 25px;
  margin-top: 25px;
  background-color: white;
  float: left ;
  
}

.ads {
  float: left;
  width: 1px;
}
.profile-picture {
  width: 75px;
  height: 75px;
  border-radius: 7px;
}


.post-title {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 600;
  margin-right: 15px;
  color: black;

  margin-top: 2vh;
}

.post-description {
  font-family: "Times New Roman", Times, serif;
  padding-left: 10px;
  font-size: 15px;
  margin-right: 25px;
  height: 100%;
  margin-top: 3vh;
  color: black;
}

.post-image {
  width: 500px;
  height: 300px;
  margin-left: 10px;
  border-radius: 7px;
  margin-top: 3vh;
}
/* .post-image:hover {
transform: scale(1.03);
} */
.post-reaction {
  align-content: center;
  text-align: center;
  margin-top: 10px;
  margin-left: -5px;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  /* margin-top: 0px; */
}

.post-reaction-2 {
  margin-left: 15px;
  gap: 5px;
  display: flex;
  justify-content: space-between;
}

.div-post-comment {
  /* background-color: rgb(238, 226, 226); */
  display: flex;
  gap: 10px;
  margin-bottom: 1vh;
}


.post-tp {
  margin-top: 6.6vh;
  color: black;
  margin-left: -12vh;
}
.user-pic {
  margin-top: 2vh;
  cursor: pointer;
  color: black;
}
