.typePost {
  margin-left: 40%;
}
.div-upload-pictures{
  margin-top: 65px;
}
.descriptionPost {
  margin-top: 20px;
  margin-left: 40%;
}
.MuiOutlinedInput-multiline-d {
  width: 500px;
  height: 100px;
}
.UserIdPosts {
  margin-top: 15vh;
  margin-left: 40%;
}
.UserId {
  margin-top: 75px;
  margin-left: 40%;
}
.TitlePost {
  margin-top: 20px;
  margin-left: 40%;
}
.uploadImg {
  margin-top: 100px;
  margin-left: 40%;
}
.MuiSelect-select.MuiSelect-select {
  width: 100px;
}
.uploadImg {
  width: 250px;
  height: 250px;
  margin-left: 40%;
  margin-top: 3%;
}
.submit {
  margin-left: 84.3vh;
  margin-top: 10vh;
}
.img-upload{
  height: 240px !important;
  width: 400px;
}

