.UserIdPosts {
  margin-left: 40%;
}
/* .typePosts {
  margin-left: 40%;
} */


.div-upload-picture {
  display: block;
  align-content: center;
  text-align: center;
  width: 250px;
  height: 250px;
  margin-left: 39.5%;
  margin-top: 3%;
  margin-bottom: 15px;
}
.div-upload-pictures {
  display: block;
  align-content: center;
  text-align: center;
  width: 250px;
  height: 250px;
  margin-left: 39.5%;
  margin-top: 3%;
  margin-bottom: 15px;
}

/* .img-upload{
.img-upload{
  width: 200px;
  border-radius: 5px;
  height:50px;
} */