/* .createPostStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
  border: 1px solid black;
}

.createPosTextArea{
    width: 150px;
    height: 100px;
    border: 0ch;
}
.postType{
    
} */
