.typePost {
  margin-left: 40%;
  margin-top: 20px;
}
.div-upload-pictures{
  margin-top: 65px;
}
.descriptionPost {
  margin-top: 20px;
  margin-left: 40%;
}
.MuiOutlinedInput-multiline-d {
  width: 500px;
  height: 100px;
}
.UserIdPosts {
  margin-top: 15vh;
  margin-left: 40%;
}
.UserId {
  margin-top: 75px;
  margin-left: 40%;
}
.TitlePost {
  margin-top: 20px;
  margin-left: 40%;
}
.uploadImg {
  margin-top: 100px;
  margin-left: 40%;
}
.MuiSelect-select.MuiSelect-select {
  width: 100px;
}
.uploadImg {
  width: 250px;
  height: 250px;
  margin-left: 40%;
  margin-top: 3%;
}
.submit {
  margin-left: 84.3vh;
  margin-top: 10vh;
}
.img-upload{
  margin-top: 5px;
  margin-bottom: 5px;
  border:solid black 1px;
  height: 240px !important;
  width: 400px;
  border-radius: 3px;
}

.buttonSubmit {
  margin-top: 5px;
  margin-left: 84vh;
  height: 40px;
  width: 100px;
  border: solid 1px rgb(53, 51, 51);
  color:rgb(53, 51, 51);
  outline: 0;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400px;
  background-color: transparent;
}
.msg{
  margin-left: 20px;
  font-size: 12px;
  color: red;
}

