.rightNavBar a,
.rightNavBar a,
.rightNavBar a,
.headerRightNavBar a {
  text-decoration: none;
  color: white;
}

.headerRightNavBar a:hover {
  text-decoration: none;
  color: black;
}


.headerSearch-button {
  margin-left: 2px;
  border: 1px solid white;
  border-radius: 5px;
}

.headerSearch-button:hover {
  cursor: pointer;
}

.navBar {
  display: flex;
  padding: 15px;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  align-items: center;
  background-color: #c59640;
}

.headerLeftNavBar {
  display: flex;
  gap: 3px;
  padding-left: 15px;
  /* height: 30px; */
}

.headerRightNavBar {
  display: flex;
  gap: 10px;
  font-size: 18px;
  padding-right: 15px;
  align-items: center;
}

.accountSettings img:hover {
  cursor: pointer;
}

.websiteName {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 40px;
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.websiteName:hover {
  cursor: pointer;
  color: #050505;
}

.headerSearch-bar {
  width: 25vw;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  font-size: 20px;
}

.display-name {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-right: 20px;
}

.display-name:hover {
  color: black;
}