.websiteName {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 40px;
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.websiteName:hover {
  cursor: pointer;
  color: #dbc3c3;
  transform: scale(1.08);
}
.MuiButton-label {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  margin-top: 7px;
  color: white;
}
.MuiButton-label:hover {
  cursor: pointer;
  color: #dbc3c3;
  transform: scale(1.08);
}


.MuiToolbar-regular {
  min-height: 64px;
  background-color: #770000;
}
