/* *{
  margin: 0;
} */

.MuiToolbar-r {
  margin-top: -12.7vh;
}
.websiteName {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 40px;
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.websiteName:hover {
  cursor: pointer;
  color: #dbc3c3;
  transform: scale(1.08);
}
.MuiButton-label {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  margin-top: 7px;
  color: white;
}
.MuiButton-label:hover {
  cursor: pointer;
  color: #dbc3c3;
  transform: scale(1.08);
}

.MuiToolbar-regular {
  background-color: #fd5050cb;

  min-height: 64px;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
}
.MuiToolbar-chat {
  background-color: #fd5050cb;
  min-height: 64px;
  margin-top: -10vh;
  left: 0;
  width: 100%;
}

.dark {
  margin-left: 888px;
}
.dark:hover {
  cursor: pointer;
}

.headerSearch-bar {
  margin-left: 50px;
  border: solid 1px rgb(223, 223, 223);
  border-radius: 5px;
  margin-right: 5px;
}

.headerSearch-button:hover {
  cursor: pointer;
}
.img-err {
  height: 714px;
  width: 1100px;
  margin-left: 25vh;
}
.button-err {
  position: absolute;
  margin-top: 60vh;
  margin-left: -87vh;
  width: 25.5vh;
  height: 5vh;
  background-color: #fd5050cb;
  color: white;
}
.button-err:hover {
  cursor: pointer;
}
.err-dev {
  margin-left: 70vh;
  margin-top: 12vh;

  color: black;
}
.err-oops {
  font-size: 4vh;
}
.err-exist {
  font-size: 3vh;
}
.err-page {
  font-size: 2.1vh;
}
.err-moved {
  font-size: 2vh;
}
.MuiMenu-paper {
  margin-left: -11vh;
}
.profile-picture {
  width: 75px;
  height: 75px;
  border-radius: 7px;
}
